include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pyproject.toml

recursive-include src/faker_persona_mx/data/datasets *.csv
recursive-exclude src/faker_persona_mx/data/cache *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
